$primary_color: #88b28b;
$secondary_color:white;
$terciary_color:#ccc;

$bg_body:#F0F4EF;
$bg_main:#FAFCF9;
$bg_footer:#445C4B;

$border_light: #ccc;
$border_dark:#121315;

$text-negro:#333;
$text-claro:#555;


/*/Me parecia muy poca la diferencia de opacidad pero los puse separados igual, no se si esta bien/*/
$shadow-oscuro: rgba(0,0,0,0.05);
$shadow-medio: rgba(0,0,0,0.1);
$shadow-suave: rgba(0,0,0,0.2);
$shadow-header: rgba(0,0,0,0.15);

$font-family:'Arial', sans-serif;
