$primary_color:#007bff;
$secondary_color:white;
$terciary_color:#ccc;

$bg_body:#f0f2f5;
$bg_main:#fafafa;
$bg_footer:#343a40;

$border_light: #ccc;
$border_dark:#121315;

$text-negro:#333;
$text-claro:#555;


/*/Me parecia muy poca la diferencia de opacidad pero los puse separados igual, no se si esta bien/*/
$shadow-oscuro: rgba(0,0,0,0.05);
$shadow-medio: rgba(0,0,0,0.1);
$shadow-suave: rgba(0,0,0,0.2);
$shadow-header: rgba(0,0,0,0.15);

$font-family:'Arial', sans-serif;
